@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-primary-dark: #001e40;
  --color-gold: #c5a059;
  --color-sand: #f5f5dc;
}

body {
  font-family: "Inter", sans-serif;
}

.font-serif-display {
  font-family: "Playfair Display", serif;
}
